<div class="container-fluid">
      <div ng-cloak>
        <div>
          <div class="row">
      <div class="col-md-6">
        <!-- <h1>{{saveresult}}</h1> -->
        <div class="pmd-card pmd-z-depth pmd-card-custom-form">
          <div class="pmd-card-body"> 
              <h1>Add Video</h1>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <label for="videolink" class="control-label">Video Link</label>
                <input type="text" id="videolink" ng-model="link" class="form-control">
                </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="starttime" class="control-label">Start Time</label>
                    <input type="text" id="starttime" ng-model="start" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label for="endtime" class="control-label">End Time</label>
                    <input type="text" id="endtime" ng-model="end" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="group-fields clearfix row">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">       
                      <label>Genre</label>
                      <select ng-model="genre" class="select-simple form-control pmd-select2">
                        <option></option>
                        <option>Comedy</option>
                        <option>Romantic</option>
                        <option>Thriller</option>
                        <option>Drama</option>
                        <option>Action</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="group-fields clearfix row">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">       
                      <label>Language</label>
                      <select ng-model="language" class="select-simple form-control pmd-select2">
                        <option></option>
                        <option>Telugu</option>
                        <option>Hindi</option>
                        <option>Tamil</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="group-fields clearfix row">
                <div class="form-group pmd-textfield pmd-textfield-floating-label">       
                  <label>Playlist</label>
                  <select ng-model="playlistName" class="select-simple form-control pmd-select2">
                    <option></option>
                    <option ng:repeat="playlist in playlists" value="{{playlist.playlistName}}">{{playlist.playlistName}}</option>
                    <!-- <option>Comedy</option>
                    <option>Romantic</option>
                    <option>Thriller</option>
                    <option>Drama</option>
                    <option>Action</option> -->
                  </select>
                </div>
              </div>

              <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                  <label for="regular1" class="control-label">
                    Zip Code*
                  </label>
                  <input type="text" id="regular1" class="form-control">
                </div>
              </div> -->
            </div>
            <div class="pmd-card-actions">
              <button style="padding: 2%" ng-click="responseById()" class="btn btn-primary next">Preview</button>
              <button id="savebtn" style="padding: 2%; display: none" ng-click="saveVideo(results)" class="btn btn-success">Save</button>
            </div>
              <!-- <p class="help-block">Help text</p> -->
        </div>
      </div>
      <div class="col-md-6">
        {{result}}
        <div>
          <iframe width="100%" height="340px" frameborder="0" ng-src="{{results.turl}}" allowfullscreen></iframe>
          <h5>{{results.title}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>