<div class="container-fluid">
  <div class="component-box">
        <!-- table card example -->
        <div  class="pmd-card pmd-z-depth pmd-card-custom-view">
          <div class="table-responsive">
          <table id="example-checkbox" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Playlist name</th>
              <!-- <th>Playlist ID</th>
              <th>Channel Name</th>
              <th>Start date</th> -->
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer" ng-repeat="item in playlists" ng-click="updatePlaylist(item)">
                <td>{{item.playlistName}}</td>
                <!-- <td>{{item.playlistID}}</td>
                <td>{{item.channelName}}</td>
                <td>{{item.date}}</td> -->
                <td><button id="delbtn" style="padding: 2%;" ng-click="deletePlaylist(item); $event.stopPropagation();" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
          </div>
        </div> <!-- table card example end -->
      
      </div>
</div>
